*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

label {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140.62%;
    display: block;
    margin: 0px 0 20px 10px;
}

h1{
    margin: 88px 0px 20px 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140.62%;
}

input {
   
}

img{
    position: relative;
    top: 10px;
}

button{
    margin: 295px auto 32px auto;
    display: block;
    width: 328px;
    height: 45px;
    background: #6ABDA6;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

button:hover{
    cursor: pointer;
}

a{
    color: #FFFFFF;
}
